/* accordion design tokens */
:root {
  --accordion-label-font-size: 16px;
  --accordion-label-line-height: 28px;
  --accordion-label-letter-spacing: 0.2px;
  --accordion-label-padding: 16px 80px 13px 16px;
  --accordion-body-padding: 16px 16px 0;
  --accordion-icon-size: 62px;
  --accordion-icon-height: 57px;
  --accordion-transition-duration: 0.3s;
}
