@import url('./hero-tokens.css');

.hero-container {
  padding: 0;
  margin: 0;
}

main > .section.hero-container > .hero-wrapper {
  max-width: unset;
  padding: 0;
  margin: 0;
}

.hero {
  position: relative;
  padding: var(--hero-padding);
  min-height: var(--hero-min-height);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero h1 {
  max-width: var(--hero-heading-max-width);
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  font-size: 36px;
  line-height: 1.06;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.hero picture {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: var(--hero-padding-desktop);
    min-height: var(--hero-min-height-desktop);
  }

  .hero h1 {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 2px;
  }
}
